<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.DingtalkTarget"/>
  </extensions>
  <targets async="true">
    <target name="Dingtalk" xsi:type="Dingtalk"
            webhookUrl="https://oapi.dingtalk.com/robot/send?access_token=e967b86fe85f3367b28ddad9b966fd1f86aadea6d35c5966b67f653abda0cfe6"
            layout="${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Dingtalk" />
  </rules>
</nlog>