<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.DingtalkTarget"/>
  </extensions>
  <targets async="true">
    <target name="Dingtalk" xsi:type="Dingtalk"
            webhookUrl="https://oapi.dingtalk.com/robot/send?access_token=1f4093af41e30b1da9fd9c085446db2775f88c83654f399f54b24ca935c17f00"
            secret="SEC21385d203a1edd0e0da6bf6c3606cd788e062985caaa97a804bc10dd876b8a02"
            layout="${message}" />
    <target name="File" xsi:type="File"
            layout="${longdate}${newline}  [${level:uppercase=true}] - ${message}${newline}${newline}"
            fileName="${processDir}\Logs\${appdomain:format={1\}}-${machinename}.txt"
            archiveFileName="${processDir}\Logs\${appdomain:format={1\}}-${machinename}.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            keepFileOpen="true"
            concurrentWrites="true"
            encoding="utf-8"
            lineEnding="None" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Dingtalk" />
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>